In [1]:
from load_data import *

In [2]:
dataset1 = load_dataset('DataTrain.txt')

In [3]:
dataset1.head()

                 setting1  setting2  setting3      s1      s2       s3  \
engine_id cycle
1         1       -0.0007   -0.0004     100.0  518.67  641.82  1589.70
          2        0.0019   -0.0003     100.0  518.67  642.15  1591.82
          3       -0.0043    0.0003     100.0  518.67  642.35  1587.99
          4        0.0007    0.0000     100.0  518.67  642.35  1582.79
          5       -0.0019   -0.0002     100.0  518.67  642.37  1582.85

                      s4     s5     s6      s7  ...     s12      s13      s14  \
engine_id cycle                                 ...
1         1      1400.60  14.62  21.61  554.36  ...  521.66  2388.02  8138.62
          2      1403.14  14.62  21.61  553.75  ...  522.28  2388.07  8131.49
          3      1404.20  14.62  21.61  554.26  ...  522.42  2388.03  8133.23
          4      1401.87  14.62  21.61  554.45  ...  522.86  2388.08  8133.83
          5      1406.22  14.62  21.61  554.00  ...  522.19  2388.04  8133.80

                    s15   s16  s17   s18    s19    s20      s21
engine_id cycle
1         1      8.4195  0.03  392  2388  100.0  39.06  23.4190
          2      8.4318  0.03  392  2388  100.0  39.00  23.4236
          3      8.4178  0.03  390  2388  100.0  38.95  23.3442
          4      8.3682  0.03  392  2388  100.0  38.88  23.3739
          5      8.4294  0.03  393  2388  100.0  38.90  23.4044

[5 rows x 24 columns]

In [4]:
dataset2 = load_dataset('DataSchedule.txt')

In [5]:
dataset2.head()

                 setting1  setting2  setting3      s1      s2       s3  \
engine_id cycle
1         1        0.0023    0.0003     100.0  518.67  643.02  1585.29
          2       -0.0027   -0.0003     100.0  518.67  641.71  1588.45
          3        0.0003    0.0001     100.0  518.67  642.46  1586.94
          4        0.0042    0.0000     100.0  518.67  642.44  1584.12
          5        0.0014    0.0000     100.0  518.67  642.51  1587.19

                      s4     s5     s6      s7  ...     s12      s13      s14  \
engine_id cycle                                 ...
1         1      1398.21  14.62  21.61  553.90  ...  521.72  2388.03  8125.55
          2      1395.42  14.62  21.61  554.85  ...  522.16  2388.06  8139.62
          3      1401.34  14.62  21.61  554.11  ...  521.97  2388.03  8130.10
          4      1406.42  14.62  21.61  554.07  ...  521.38  2388.05  8132.90
          5      1401.92  14.62  21.61  554.16  ...  522.15  2388.03  8129.54

                    s15   s16  s17   s18    s19    s20      s21
engine_id cycle
1         1      8.4052  0.03  392  2388  100.0  38.86  23.3735
          2      8.3803  0.03  393  2388  100.0  39.02  23.3916
          3      8.4441  0.03  393  2388  100.0  39.08  23.4166
          4      8.3917  0.03  391  2388  100.0  39.00  23.3737
          5      8.4031  0.03  390  2388  100.0  38.99  23.4130

[5 rows x 24 columns]